@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.glass {
  box-sizing: border-box;
  width: 600px;
  height: 800px;
  left: 772px;
  top: 111px;

  background: rgba(183, 233, 246, 0.25);
  backdrop-filter: blur(13px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 16px;
}
